/* styles.css */

html,
body {
    padding: 0px;
    margin: 0px;
    background: #F8F2ED;
    font-family: "Raleway", sans-serif;
    color: #FFF;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: linear-gradient(to left, #955DFF, #6FAAFF);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 20px;
}

h1,
h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#hashTableContainer {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}